<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "layouts/rails_admin/head" %>
  </head>
  <body class="rails_admin pt-0">
    <div data-i18n-options="<%= I18n.t("admin.js").to_json %>" id="admin-js"></div>
    <div class="badge bg-warning" id="loading" style="display:none; position:fixed; right:20px; bottom:20px; z-index:100000"><%= t('admin.loading') %></div>
    <div class="container-fluid overflow-hidden">
      <%= render "layouts/rails_admin/sidebar_navigation" %>
      <main role="main" class="main flex-grow-1">
        <%= render template: 'layouts/rails_admin/content' %>
      </div>
    </div>
  </body>
</html>
