<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "layouts/rails_admin/head" %>
  </head>
  <body class="rails_admin pt-0">
    <div data-i18n-options="<%= I18n.t("admin.js").to_json %>" id="admin-js"></div>
    <div class="loading" id="loading" style="display:none;"><i class="fa-solid fa-spinner fa-spin"></i></div>
    <div class="container-fluid overflow-hidden">
      <%= render "layouts/rails_admin/sidebar_navigation" %>
      <main role="main" class="main flex-grow-1">
        <%= render template: 'layouts/rails_admin/content' %>
        <div class="small text-muted text-center pt-6 pt-md-7 opacity-75 mt-auto"><%= Swop.configuration.theme_style.to_s.titleize %> <%= Swop.configuration.theme_color.to_s.titleize %> Theme by <%= link_to "Swop", "https://www.swopthemes.com", class: "text-reset text-hover-underline fw-semibold", target: "_blank" %></div>
      </main>
    </div>
  </body>
</html>
